.dashboardContainer {
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 100vh;
  }
  
  .dashboardTitle {
    font-size: 24px;
    font-weight: bold;
    color: #004d99;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .gridItem {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gridButton {
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    max-width: 150px;
    width: auto;
    text-align: center;
  }
  
  .gridButton:hover {
    background-color: #005f8a;
  }
  
  .gridItem img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .bottomSection {
    text-align: center;
    margin-top: 40px;
  }
  
  .textButton {
    background-color: transparent;
    color: #0077b6;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  .countsContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .countBox {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 45%;
  }
  
  .countBox h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .countBox p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .moreInfoButton {
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .moreInfoButton:hover {
    background-color: #005f8a;
  }
  