.reportContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .reportContent {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  h2 {
    color: #0B243E;
    font-family: 'Sofia Sans', sans-serif;
  }
  
  .placeholderText {
    color: #004944;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1.5rem;
  }
  
  .generateButton {
    padding: 0.8rem 2rem;
    background-color: #0077b6;
    color: #66FCF1;
    font-family: 'Sofia Sans', sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  