.cardContainer {
  max-width: 400px;
  margin: 0 auto;
  background: #004d99; /* Solid maroon background */
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.logo {
  width: 70px;
  margin: 10px auto 20px;
}

.cardContent {
  background-color: #ffffff; /* White background for the inner content */
  border-radius: 10px;
  padding: 30px 20px; /* Adjusted padding */
  color: #004d99;
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px; /* Adjusted spacing */
}

.title {
  font-size: 14px;
  font-weight: 400;
  color: #7d7d7d; /* Light gray for the subtitle */
  margin-bottom: 15px;
}

.details {
  text-align: left;
  margin-top: 20px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0; /* Light divider between items */
}

.detailItem:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.label {
  font-weight: 500;
  color: #004d99;
}

.value {
  font-weight: 400;
}

.validity {
  margin-top: 15px;
  font-size: 12px;
  color: #7d7d7d;
  font-style: italic;
}
