.cardContainer {
  max-width: 400px;
  margin: 10px auto;
  background: #072176; /* Primary color updated to #072176 */
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  color: #FFFDFE; /* Updated text color to white for contrast */
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.logo {
  width: 70px;
  margin: 10px auto 20px;
} 

.cardContent {
  background-color: #FFFDFE; /* Neutral white background for inner content */
  border-radius: 10px;
  padding: 30px 20px;
  color: #072176; /* Updated text color for inner content */
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  color: #072176; /* Updated to match primary color */
}

.title {
  font-size: 14px;
  font-weight: 400;
  color: #0B2C93; /* Updated to contrast with the rest of the text */
  margin-bottom: 15px;
}

.details {
  text-align: left;
  margin-top: 20px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0; /* Light divider between items */
}

.detailItem:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.label {
  font-weight: 500;
  color: #072176; /* Updated to match primary color */
}

.value {
  font-weight: 400;
}

.validity {
  margin-top: 15px;
  font-size: 12px;
  color: #7d7d7d; /* Neutral color for subtlety */
  font-style: italic;
}
