.announcementContainer {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #004d40; /* Text color updated to match the DOH design */
  font-family: 'Sofia Sans', sans-serif;
}

.announcement {
  background-color: #ffffff; /* Neutral background for clarity */
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.announcement h3 {
  color: #4caf50; /* Primary color for heading */
  font-size: 1.2rem;
}

.announcement p {
  color: #333; /* Slightly dark text color for readability */
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}
