/* Announcement container styles */
.announcementContainer {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #072176; /* Dark blue to match the new palette */
  font-family: 'Sofia Sans', sans-serif;
}

.announcement {
  background-color: #FFFDFE; /* Light background for better readability */
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.announcement h3 {
  color: #0B2C93; /* Lighter blue for heading */
  font-size: 1.2rem;
}

.announcement p {
  color: #333; /* Dark text color for readability */
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}
